/* .background-bg{
    background-image: url(../assets/Layer-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.layerturn{
    display: flex;
    border-radius: 50px;
    background-color: #ebf1f3;
    align-items: center;
    width: 27%;
}

.badge{
    border-radius: 50px;
    background-color: #fcca7b;
    padding: 0.5rem;
}

.badge-one{
    font-size: 1.12rem;
    line-height: 1.75rem;
    color: black;
    font-family: 'Poppins';
}

.header-middle h1{
font-size: 3.75rem;
line-height: 4.688rem;
font-weight: bold;
font-family: 'Poppins';
padding-top: 1.5rem;
padding-bottom: 1.87rem;
}

.header-middle p {
    font-size: 1.1rem;
    line-height: 1.75rem;
    font-family: 'Poppins';
    color: #616368;
    }
    
.header-middle .button-try-one {
        background-color: #7a64fa;
        color: white;
        font-size: 1rem;
        line-height: 2.75rem;
        padding: 0.5rem 3.5rem;
        border-radius: 65px;
        display: inline-block;
        text-decoration: none;
        font-family: 'Poppins';
        margin-top: 2.6rem;
    }

 .header-middle .side-click{
        text-decoration: none;
        color: #7a64fa;
        font-size: 1rem;
        line-height: 2.75rem;
        padding-left: 1.6rem;
        font-family: 'Poppins';
    }

    .header-bg{
        padding-top: 14.4rem;
        padding-bottom: 14.6rem;
    }

     */